/*Thank you to http://codepen.io/Russbrown/pen/IgBuh*/
body {
  background: #13756D;
}

.todo-wrapper {
  background: #55B6AE;
  width: 100%;
  height: 100vh;
}

h2 {
  font-size: 2em;
  font-family: megrim, fantasy;
  background: #1CA89C;
  padding: 40px;
  margin: 0;
  color: #333;
  text-align: center;
}

.emphasis {
  font-family: vast-shadow, sans-serif;
  font-size: 4em;
}

ul {
  padding: 0px;
  margin: 0px;
}

li {
  font-family: megrim, fantasy;
  font-size: 2em;
  padding: 40px;
  background: #65d8cb;
  /* Old browsers */
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#65d8cb), to(#72f4e9));
  background: -webkit-linear-gradient(#65d8cb 0%, #72f4e9 100%);
  background: -moz-linear-gradient(#65d8cb 0%, #72f4e9 100%);
  background: -o-linear-gradient(#65d8cb 0%, #72f4e9 100%);
  background: linear-gradient(#65d8cb 0%, #72f4e9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#65d8cb', endColorstr='#72f4e9',GradientType=0 );
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
}

/*li input[type="checkbox"] {*/
  /*width: 40px;*/
/*}*/

.done-true {
  text-decoration: line-through;
  color: #ddd;
}

.add-input {
  width: 60%;
  height: 20px;
  float: left;
  border: none;
  padding: 40px 0;
  font-size: 2em;
  font-family: megrim, fantasy;
  text-indent: 55px;
}

.add-btn {
  width: 40%;
  border: none;
  background: #29F4E3;
  padding: 0;
  height: 100px;
  cursor: pointer;
}
.add-btn h2 {
  background: #29F4E3;
  padding: 0;
  font-size: 4em;
  font-family: megrim, fantasy;
  color: #333;
}

.delete-btn {
  position: relative;
  top: 5px;
  background: transparent;
  padding: 0;
  font-size: 1em;
  font-family: megrim, fantasy;
  color: red;
  float: right;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
}


/*Thank you to http://codepen.io/imohkay/pen/wyxuB*/
.checkbox-custom {
  opacity: 0;
  position: absolute;
}

.checkbox-custom, .checkbox-custom-label {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  margin-left: 1em;
  cursor: pointer;
}

.checkbox-custom-label {
  position: relative;
}

.checkbox-custom + .checkbox-custom-label:before {
  content: '';
  background: #fff;
  border: 2px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  height: 32px;
  padding: 2px;
  margin-right: 10px;
  text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
  content: "\f00c";
  font-family: 'FontAwesome';
  background: #1CA89C;
  color: #fff;
}

