<div class="todo-wrapper">
  <h2>You've got <span class="emphasis">{{todos.length}}</span> {{todos.length == 1 ? 'item' : 'items'}} to do</h2>
  <ul>
    <li *ngFor="let todo of todos; let i = index">
      <input id="checkbox-{{i}}" class="checkbox-custom" type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.complete">
      <label attr.for="checkbox-{{i}}" class="checkbox-custom-label"></label>
      <span [class.done-true]="todo.complete" name="title" class="todo-text" (click)="toggleTodoEdit(todo)" *ngIf="!todo.editing">{{todo.title}}</span>
      <input class="editing-input" type="text" appInputFocus [(ngModel)]="todo.title" *ngIf="todo.editing" (keyup.enter)="saveEdit(todo)">
      <button class="editing-button" *ngIf="todo.editing" (click)="saveEdit(todo)">Save</button>
      <button class="delete-btn" (click)="removeTodo(todo)">Delete</button>
    </li>
  </ul>
    <input class="add-input" placeholder="I need to..." autofocus="" [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()">
    <button class="add-btn" (click)="addTodo()"><h2>Add</h2></button>
</div>
